html,
body {
  padding: 0;
  margin: 0;
  border: 2px solid var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {

  --primary: #0070f3;
  --secondary: #6c757d;

  --dark: #0050a3;
  --light: #00a3e0;

  --white: rgb(216, 215, 215);
  --black: rgb(40, 31, 31);

}


//forms. 

input { 
  font-size: 1rem;
  border-radius: 5px;
  
  border: 1px solid var(--primary);
  padding: 5px 10px;;

  :focus {
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
  }
}

button, input[type="submit"] {
  background-color: var(--primary);
  color: var(--white);
  text-transform: uppercase;
}
