.task_item {
  border: 1px solid red;
  background:    var(--dark);
  color:         var(--white);
  padding:       0.5rem 5px 0.5rem 0.5rem;
  font-size:     1.2rem;
  border-radius: 10px;
  width:          minmax(250px, 100%);

  display: flex;
  justify-items: space-between;

  span:first-child {
    flex-grow: 1;
  }

  &__completed {
    background:    var(--white);
    color:         var(--dark);
    text-decoration: line-through;
  }
  &__todo {
    border: 2px solid var(--primary);
  }
}